@-webkit-keyframes slide-down {
  0% {
    opacity: 1;
  }
  25% {
    bottom: 30%;
    opacity: 0.75;
  }
  75% {
    bottom: 20%;
    opacity: 0.5;
  }
  100% {
    bottom: 10%;
    opacity: 0.25;
  }
}

@keyframes slide-down {
  0% {
    opacity: 1;
  }
  25% {
    bottom: 30%;
    opacity: 0.75;
  }
  75% {
    bottom: 20%;
    opacity: 0.5;
  }
  100% {
    bottom: 10%;
    opacity: 0.25;
  }
}

.active {
  border-bottom: 2px solid black;
}

.btn {
  border-radius: 20px;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #424444;
}

.navbar {
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem;
  max-height: 10vh;
  position: relative;
}

.navbar .branding-logo {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  height: 18vh;
}

.navbar .branding-logo img {
  height: 100%;
  width: auto;
}

.navbar ul.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.navbar ul.nav-links .active {
  border-bottom: 2px solid black;
}

.navbar ul.nav-links a {
  text-decoration: none;
  color: black;
}

.navbar ul.nav-links a:hover {
  border-bottom: 2px solid black;
}

.navbar .login {
  background-color: #424444;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
  top: 10px;
}

.navbar .fas {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar ul.nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    background: white;
    z-index: 99;
    margin: 0 20px;
    padding: 0;
    border: 1px solid #4b4b4b;
  }
  .navbar .login {
    position: static;
  }
  .navbar .fas {
    display: inline-block !important;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    left: 2.5rem;
    top: 4.5rem;
  }
  .navbar .off {
    display: none !important;
  }
  .navbar .on {
    display: inherit;
  }
}

.hero {
  white-space: nowrap;
  padding: 2rem;
}

.heading .line {
  opacity: 0.3;
}

.heading .heading-text {
  font-size: 1.5rem;
  margin: 2rem;
  margin-top: 0;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 200;
}

footer {
  color: white;
  max-width: 100%;
  padding: 20px 40px;
  background-color: #002240;
  position: relative;
  top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .branding h3 {
  font-weight: 300;
  position: relative;
  left: 2rem;
}

footer div {
  margin: 20px 0;
}

footer .quick-links ul {
  list-style: none;
}

footer .quick-links ul li a {
  text-decoration: none;
  color: white;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

footer .social a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato',sans-serif;
}

body {
  width: 100%;
}

h1 {
  font-size: 2.1rem;
  margin: 1.5rem;
  margin-left: 5.6rem;
}

@media screen and (max-width: 768px) {
  h1 {
    margin: 2rem 1.5rem;
    text-align: center;
  }
}

h1 span {
  font-family: 'SF Pro Display',sans-serif;
  font-style: italic;
  color: blue;
  font-weight: bolder;
}

.hero {
  max-width: 100%;
  background-color: transparent;
  padding: 1rem 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  overflow: visible;
}

@media screen and (max-width: 768px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .carat {
    display: none;
  }
  .hero .info {
    max-width: 100% !important;
    text-align: center;
    white-space: initial;
    padding: 0 1rem !important;
  }
}

.hero .carat {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  left: 50%;
  bottom: 40%;
  font-size: 3rem;
  -webkit-animation: slide-down 1.5s linear 1s infinite forwards;
          animation: slide-down 1.5s linear 1s infinite forwards;
}

.hero .info {
  color: #000000;
  opacity: 0.58;
  white-space: pre-wrap;
  line-height: 250%;
  letter-spacing: 0.1em;
  max-width: 40%;
  padding: 0 3rem;
}

.hero .illustration {
  width: 45%;
  height: 45%;
  position: relative;
  bottom: 8pc;
}

.hero .illustration img {
  height: auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .hero .illustration {
    position: static;
    width: 100%;
    height: auto;
  }
}

.team .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  gap: 3rem;
  margin: 3rem auto;
  overflow: auto;
  padding: 10px 40px;
  overflow: hidden;
}

.team .card {
  padding: 20px;
  -webkit-box-shadow: 0 3px 10px #0003;
          box-shadow: 0 3px 10px #0003;
  border-radius: 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  overflow: visible;
}

.team .card p {
  font-size: 1.3rem;
  font-weight: 300;
}

.team .card .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .card:hover {
  -webkit-transform: translateY(-10px) scaleY(10);
          transform: translateY(-10px) scaleY(10);
}
/*# sourceMappingURL=about.css.map */