@-webkit-keyframes slide-down {
  0% {
    opacity: 1;
  }
  25% {
    bottom: 30%;
    opacity: 0.75;
  }
  75% {
    bottom: 20%;
    opacity: 0.5;
  }
  100% {
    bottom: 10%;
    opacity: 0.25;
  }
}

@keyframes slide-down {
  0% {
    opacity: 1;
  }
  25% {
    bottom: 30%;
    opacity: 0.75;
  }
  75% {
    bottom: 20%;
    opacity: 0.5;
  }
  100% {
    bottom: 10%;
    opacity: 0.25;
  }
}

.active {
  border-bottom: 2px solid black;
}

.btn {
  border-radius: 20px;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #424444;
}

.navbar {
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem;
  max-height: 10vh;
  position: relative;
}

.navbar .branding-logo {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  height: 18vh;
}

.navbar .branding-logo img {
  height: 100%;
  width: auto;
}

.navbar ul.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.navbar ul.nav-links .active {
  border-bottom: 2px solid black;
}

.navbar ul.nav-links a {
  text-decoration: none;
  color: black;
}

.navbar ul.nav-links a:hover {
  border-bottom: 2px solid black;
}

.navbar .login {
  background-color: #424444;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
  top: 10px;
}

.navbar .fas {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar ul.nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    background: white;
    z-index: 99;
    margin: 0 20px;
    padding: 0;
    border: 1px solid #4b4b4b;
  }
  .navbar .login {
    position: static;
  }
  .navbar .fas {
    display: inline-block !important;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    left: 2.5rem;
    top: 4.5rem;
  }
  .navbar .off {
    display: none !important;
  }
  .navbar .on {
    display: inherit;
  }
}

.hero {
  white-space: nowrap;
  padding: 2rem;
}

.heading .line {
  opacity: 0.3;
}

.heading .heading-text {
  font-size: 1.5rem;
  margin: 2rem;
  margin-top: 0;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 200;
}

footer {
  color: white;
  max-width: 100%;
  padding: 20px 40px;
  background-color: #002240;
  position: relative;
  top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .branding h3 {
  font-weight: 300;
  position: relative;
  left: 2rem;
}

footer div {
  margin: 20px 0;
}

footer .quick-links ul {
  list-style: none;
}

footer .quick-links ul li a {
  text-decoration: none;
  color: white;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

footer .social a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato',sans-serif;
}

body {
  width: 100%;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 4rem 6rem;
  gap: 2rem;
}

.cards .card {
  border: 2px solid #5621C6;
  border-top-width: 5px;
  color: #5621C6;
  width: 20%;
  border-radius: 65px;
  text-align: center;
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 20vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.cards .card h1 {
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'SF Pro Display' !important;
}

.cards .card p {
  font-weight: 200;
  font-size: 1.3rem;
}

.cards .card .buy {
  padding: 1rem 1rem 0rem 1rem;
  height: 40px;
  width: 92px;
  border-radius: 25px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  padding: 2rem;
  background: #f9f9f9;
}

.features .feature {
  background: transparent;
  color: black;
  border-radius: 1rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px grey solid;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  gap: 6rem;
}

.features .feature .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  margin-left: 2.5rem;
}

.features .feature .text h2 {
  color: #5621C6;
  font-weight: 700;
  font-size: 1.9em;
}

.features .feature .text p {
  font-size: 1.1em;
}

.features .feature .img1 {
  height: 200px;
  width: 200px;
}

.features .feature .img2 {
  height: 250px;
  width: 180px;
}

.features .feature .img3 {
  height: 240px;
  width: 300px;
}

.features .feature2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

footer {
  color: white;
  max-width: 100%;
  padding: 20px 40px;
  background-color: #002240;
  position: relative;
  top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .branding h3 {
  font-weight: 300;
  position: relative;
  left: 2rem;
}

footer div {
  margin: 20px 0;
}

footer .quick-links ul {
  list-style: none;
}

footer .quick-links ul li a {
  text-decoration: none;
  color: white;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

footer .social a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
}
/*# sourceMappingURL=pricing.css.map */